.bottom_bar1{
				width: 33%;
				height: 10%;
				position: fixed;
				left: 0;
				bottom: 0;
				background: #e1e1e1;
				text-align: center;
				margin: 0 0 0 0;
				}
			.bottom_bar2{
				width: 33%;
				height: 10%;
				position: fixed;
				left: 33%;
				bottom: 0;
				background: #e1e1e1;
				text-align: center;
				margin: 0 0 0 0;
				
			}
			.bottom_bar3{
				width: 33.8%;
				height: 10%;
				position: fixed;
				left: 66%;
				bottom: 0;
				background: #e1e1e1;
				text-align: center;
				margin: 0 0 0 0;
				
			}
			
			.bottom_icon{
				position: relative;
				bottom:-0.825rem;
				width: 2rem;
				height: 2rem;
			}
			.whiten{
				background: white;
			}