<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0">
		<title>ChitChat-IdCard</title>
		<style> @import url("../css/bottom.css"); </style>
		<link rel="stylesheet" href="https://res.wx.qq.com/open/libs/weui/2.3.0/weui.min.css" />
		<script type="text/javascript" src="../js/cookie.js"></script>
		<script type="text/javascript" src="../js/loadPic.js"></script>
		<style>
			[v-cloak] {
			  display: none;
			}
			.weui-cells__title{
				font-size: 1.35rem;
			}
			#portrait{
				position: relative;
				right: -80%;
			}
			.button{
				font-size: 1.2rem;
				position: fixed;
				right: 5%;
			}
			
		</style>
	</head>
	<body>
		<div id="app" v-cloak>
			<div class="weui-cells__title">
				个人资料卡
				<a href="javascript:" class="button" onclick="javascript:history.back(-1)">取消</a>
			</div>
			<div class="weui-cells__title"> </div>

			<div class="weui-cells">
				<a class="weui-cell  weui-cell_access weui-cell_example" href="javascript:">
					<div class="weui-cell__hd">
						<img :src="portraitSrc" alt="" style="width: 100px; margin-right: 16px; display: block;"></div>
					<div class="weui-cell__bd">
						<p style="font-size: 1.3rem;"> {{nickname}} </p>
						<br>
						<br>
					</div>
					<div class="weui-cell__ft"></div>
				</a>
				<a class="weui-cell  weui-cell_access weui-cell_example" href="javascript:">
					<div class="weui-cell__hd"><img src="../img/icon/id.png" alt="" style="width: 20px; margin-right: 16px; display: block;"></div>
					<div class="weui-cell__bd">
						<p> 账号：</p>
					</div>
					<div class="weui-cell__ft" v-text="friendname"></div>
				</a>
				<a class="weui-cell  weui-cell_access weui-cell_example" href="javascript:">
					<div class="weui-cell__hd"><img src="../img/icon/emoji.png" alt="" style="width: 20px; margin-right: 16px; display: block;"></div>
					<div class="weui-cell__bd">
						<p> 性别：</p>
					</div>
					<div class="weui-cell__ft" v-text="sex"></div>
				</a>
				<a class="weui-cell  weui-cell_access weui-cell_example" href="javascript:">
					<div class="weui-cell__hd"><img src="../img/icon/emoji2.png" alt="" style="width: 20px; margin-right: 16px; display: block;"></div>
					<div class="weui-cell__bd">
						<p> 年龄：</p>
					</div>
					<div class="weui-cell__ft" v-text="age"></div>
				</a>
				<a class="weui-cell  weui-cell_access weui-cell_example" href="javascript:">
					<div class="weui-cell__hd"><img src="../img/icon/sign.png" style="width: 20px; margin-right: 16px; display: block;"></div>
					<div class="weui-cell__bd">
						<p> 签名：</p>
					</div>
					<div class="weui-cell__ft" v-text="sign"></div>
				</a>
			</div>
			<br>

			<div v-show="!isMe">
				<div class="button-sp-area cell" v-if="isFriend">
					<a href="javascript:" class="weui-btn_cell weui-btn_cell-primary" @click="toFriend">ChitChat</a>
					<a href="javascript:" class="weui-btn_cell weui-btn_cell-warn" @click="showDialog2">删除好友</a>
				</div>

				<!-- <div class="button-sp-area cell" v-if="isFriend && inBlack">
					<a href="javascript:" class="weui-btn_cell weui-btn_cell-primary" @click="toFriend">ChitChat</a>
					<a href="javascript:" class="weui-btn_cell weui-btn_cell-warn" @click="showDialog3">移出黑名单</a>
				</div> -->

				<div class="button-sp-area cell" v-if="!isFriend">
					<a href="javascript:" class="weui-btn_cell weui-btn_cell-primary" @click="showDialog1">添加好友</a>
				</div>
			</div>

			<div id="dialogs">
				<!--BEGIN dialog3-->
				<div class="js_dialog" v-show="Dialog1">
					<div class="weui-mask" @click="close1"></div>
					<div class="weui-dialog weui-skin_android">
						<div class="weui-cell ">
							<div class="weui-cells__group weui-cells__group_form">
								<div class="weui-cells weui-cells_form">
									<div class="weui-cell ">
										<div class="weui-cell__bd">
											<textarea class="weui-textarea" v-model="content" placeholder="请填写验证信息" rows="2"></textarea>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="weui-dialog__ft">
							<a href="javascript:" class="weui-dialog__btn weui-dialog__btn_default" @click="close1">取消</a>
							<a href="javascript:" class="weui-dialog__btn weui-dialog__btn_warning" @click="addFriend">添加好友</a>
						</div>
					</div>
				</div>
				<!--END dialog3-->


				<!--BEGIN dialog4-->
				<div class="js_dialog" v-show="Dialog2">
					<div class="weui-mask" @click="close2"></div>
					<div class="weui-dialog weui-skin_android">
						<div class="weui-dialog__bd">
							将从好友列表中移除此人
						</div>
						<div class="weui-dialog__ft">
							<a href="javascript:" class="weui-dialog__btn weui-dialog__btn_default" @click="close2">取消</a>
							<a href="javascript:" class="weui-dialog__btn weui-dialog__btn_warning" style="color:crimson" @click="deleteFriend">删除好友</a>
						</div>
					</div>
				</div>
				<!--END dialog4-->


				<!--BEGIN toast-->
				<div id="toast1" v-show="Toast1">
					<div class="weui-mask_transparent"></div>
					<div class="weui-toast">
						<i class="weui-icon-success-no-circle weui-icon_toast"></i>
						<p class="weui-toast__content">已发送</p>
					</div>
				</div>
				<div id="toast2" v-show="Toast2">
					<div class="weui-mask_transparent"></div>
					<div class="weui-toast">
						<i class="weui-icon-success-no-circle weui-icon_toast"></i>
						<p class="weui-toast__content">已删除</p>
					</div>
				</div>
				<!--end toast-->
			</div>

		</div>
		<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
		<script src="https://cdn.staticfile.org/axios/0.18.0/axios.min.js"></script>
		<script type="text/javascript">
			var app = new Vue({
				el: "#app",
				data: {
					username: '',
					currentUID: '',
					friendname: '',
					nickname: '',
					sex: '',
					uid: '',
					age: '',
					intro: '',
					email: '',
					sign: '',
					portraitSrc: '',
					content: '',
					isMe: '',
					isFriend: false,
					Dialog1: false,
					Dialog2: false,
					Toast1: false,
					Toast2: false,
					friendList: [],
					blacklist: []
				},
				mounted() {
					this.currentUID = localStorage.getItem("nf")
					axios.get('http://129.211.62.153:8080/user/' + this.currentUID).then((res) => {
						console.log(res.data)
						this.friendname = res.data.loginID;
						this.nickname = res.data.nickname;
						this.sex = res.data.sex;
						this.age = res.data.age;
						this.sign = res.data.intro;
						this.email = res.data.email;
						if (this.sign == null)
							this.sign = ''
						if (this.email == null)
							this.email = ''
						var picsrc = "http://129.211.62.153:8080/image/" + this.currentUID + "/head.jpg";
						this.portraitSrc = picsrc;
					})
					// 判断currentUID是否在好友列表内
					this.uid = localStorage.getItem("uid");
					axios.get('http://129.211.62.153:8080/users/' + this.uid + '/friends')
						.then((res) => {
							console.log(res);
							this.friendList = res.data;
							if (this.uid == this.currentUID) {
								this.$set(this, "isMe", true);
								console.log("It's ME!!");
							} else {
								var i = 0;
								for (; i < this.friendList.length; i++) {
									if (this.friendList[i].uid == this.currentUID) 
										this.$set(this, "isFriend", true);
								}
							}
						})
				},
				methods: {
					showDialog1: function() {
						this.Dialog1 = true;
					},
					showDialog2: function() {
						this.Dialog2 = true;
					},
					showDialog3: function() {
						this.Dialog3 = true;
					},
					close1: function() {
						this.Dialog1 = false;
					},
					close2: function() {
						this.Dialog2 = false;
					},
					close3: function() {
						this.Dialog3 = false;
					},
					toFriend: function() {
						localStorage.setItem("nf", this.currentUID);
						window.location.href = './friend.html';
					},
					addFriend: function() {
						this.uid = localStorage.getItem("uid");
						if (this.uid == this.currentUID) {
							console.log("ERROR::YOU_CANNOT_ADD_YOURSELF");
						} else {
							axios.post('http://129.211.62.153:8080/msg/add-friend', {
								type: 3,
								style: 3,
								fromId: this.uid,
								toId: this.currentUID,
								content: this.content
							}).then((res) => {})
							this.Dialog1 = false;
							this.Toast1 = true;
							let _this = this;
							setTimeout(function() {
								_this.Toast1 = false;
							}, 1000);
						}
					},
					deleteFriend: function() {
						this.Dialog2 = false;
						this.Toast2 = true;
						let _this = this;
						axios.post('http://129.211.62.153:8080/users/' + this.uid 
							+ '/friends/' + this.currentUID + '/delete')
							.then((res) => {
								console.log("Delete friend res = " + res.data);
							})
						setTimeout(function() {
							_this.Toast2 = false;
						}, 1000);
						history.back(-1);
					},
				}
			});
		</script>
	</body>
</html>
